* {
  color: #FFFFFF !important;
}

body {
  color: #FFFFFF !important;
}

.MuiTypography-root {
  color: #FFFFFF !important;
}

.MuiListItemText-primary {
  color: #FFFFFF !important;
}

.MuiListItemText-secondary {
  color: #FFFFFF !important;
}

.MuiInputBase-input {
  color: #FFFFFF !important;
}

.MuiInputLabel-root {
  color: #FFFFFF !important;
}

.MuiChip-label {
  color: #FFFFFF !important;
}